

.header1 {
  color: red;
  text-align: center;
  font-style: oblique;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 7.323pt;
}

p {
  line-height: 4pt;
  background: -webkit-linear-gradient(rebeccapurple, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

